.App {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #61dafb;
}

.Footer {
	font: Tahoma, Geneva, sans-serif;
	font-size: 32px;
  margin-top: 60pt;
  margin-bottom: 24pt;
  color: white;
  text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.Title {
	font: Tahoma, Geneva, sans-serif;
	font-size: 64px;
    color: white;
    text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

.SubTitle {
	font: Tahoma, Geneva, sans-serif;
	font-size: 48px;
    color: white;
    text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

p {
  background-color: #7b7b7b;
  padding: 50px;
	font: Tahoma, Geneva, sans-serif;
  text-align: justify;
	font-size: 16px;
  color: white;
  border-radius:25px;
}

.App {
  background-color: #b6b7b1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

